/* nav bar style */

.main {
  width: 100%;
  height: 70px;
  margin-left: -30px;
  margin-top: -20px;
  background-color: white;
  position: fixed;
}

.image {
  width: 32px;
  height: 32px;
}
.text {
  font-size: 18px;
  color: #474444;
  padding: auto;
  text-decoration: none;
}
:hover.text {
  color: black;
  font-weight: bolder;
}

* {
  margin-top: 10px;
  margin-left: 10px;
}


/* signup page styles */

.signgoogle{
 
  
  border:1px solid gray;


}
.gridcomp{

  
  height:300px;
  width:400px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px 20px 0px 20px;

}