/* nav bar style */

.main {
    width: 100%;
    height:5em;
 /* margin-left: -30px; */
    /* margin-top: 20px;  */
    align-items: center;
    background-color: white;
    position: sticky;
    z-index: 5;
  }
  
  .image {
    width: 32px;
    height: 32px;
  }
  .text {
    font-size: 17px;
    /* font-weight: 5px; */
    color: #474444;
    padding: auto;
    text-decoration: none;
  }
  
  :hover.text {
    color: black;
    font-weight: bolder;
  }
  
 
  